---
http_interactions:
- request:
    method: post
    uri: https://signoz.donmai.us/api/v5/query_range
    body:
      encoding: UTF-8
      string: '{"schemaVersion":"v1","start":1778474695000,"end":1778478295000,"requestType":"scalar","compositeQuery":{"queries":[{"type":"builder_query","spec":{"name":"searches","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path = ''/posts''"},"having":{"expression":""},"aggregations":[{"expression":"count_distinct(ip)"},{"expression":"count()"}]}},{"type":"builder_query","spec":{"name":"direct_searches","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path = ''/posts'' AND url
        CONTAINS ''z=5''"},"having":{"expression":""},"aggregations":[{"expression":"count_distinct(ip)"}]}},{"type":"builder_query","spec":{"name":"post_views","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path REGEXP ''^/posts/[0-9]+$''"},"having":{"expression":""},"aggregations":[{"expression":"count()"}]}}]},"formatOptions":{"formatTableResultForUI":false,"fillGaps":false},"variables":{}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"type":"scalar","meta":{"rowsScanned":5422794,"bytesScanned":6756352465,"durationMs":7730,"stepIntervals":{"direct_searches":10,"post_views":10,"searches":10}},"data":{"results":[{"queryName":"direct_searches","columns":[{"name":"__result_0","queryName":"direct_searches","aggregationIndex":0,"meta":{},"columnType":"aggregation"}],"data":[[15372]]},{"queryName":"post_views","columns":[{"name":"__result_0","queryName":"post_views","aggregationIndex":0,"meta":{},"columnType":"aggregation"}],"data":[[519898]]},{"queryName":"searches","columns":[{"name":"__result_0","queryName":"searches","aggregationIndex":0,"meta":{},"columnType":"aggregation"},{"name":"__result_1","queryName":"searches","aggregationIndex":1,"meta":{},"columnType":"aggregation"}],"data":[[42811,503468]]}]}}}'
  recorded_at: Mon, 11 May 2026 05:45:03 GMT
recorded_with: VCR 6.4.0
