---
http_interactions:
- request:
    method: post
    uri: https://signoz.donmai.us/api/v5/query_range
    body:
      encoding: UTF-8
      string: '{"schemaVersion":"v1","start":1778463895000,"end":1778478295000,"requestType":"scalar","compositeQuery":{"queries":[{"type":"builder_query","spec":{"name":"searches","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path = ''/posts'' AND url
        REGEXP ''tags=(?i)(?:[^&]*\\++\\(?|[+(]*)(1girl)([+&)]|$)'' AND url REGEXP
        ''tags=(?i)(?:[^&]*\\++\\(?|[+(]*)(solo)([+&)]|$)''"},"having":{"expression":""},"aggregations":[{"expression":"count_distinct(ip)"},{"expression":"count()"}]}},{"type":"builder_query","spec":{"name":"direct_searches","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path = ''/posts'' AND url
        CONTAINS ''z=5'' AND url REGEXP ''tags=(?i)(?:[^&]*\\++\\(?|[+(]*)(1girl)([+&)]|$)''
        AND url REGEXP ''tags=(?i)(?:[^&]*\\++\\(?|[+(]*)(solo)([+&)]|$)''"},"having":{"expression":""},"aggregations":[{"expression":"count_distinct(ip)"}]}},{"type":"builder_query","spec":{"name":"post_views","signal":"logs","filter":{"expression":"k8s.daemonset.name
        = ''nginx-ingress-controller'' AND userAgent CONTAINS ''Mozilla/5.0'' AND
        userAgent NOT CONTAINS ''compatible'' AND danbooru_path REGEXP ''^/posts/[0-9]+$''
        AND url REGEXP ''q=(?i)(?:[^&]*\\++\\(?|[+(]*)(1girl)([+&)]|$)'' AND url REGEXP
        ''q=(?i)(?:[^&]*\\++\\(?|[+(]*)(solo)([+&)]|$)''"},"having":{"expression":""},"aggregations":[{"expression":"count()"}]}}]},"formatOptions":{"formatTableResultForUI":false,"fillGaps":false},"variables":{}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"type":"scalar","meta":{"rowsScanned":21911904,"bytesScanned":2811875611,"durationMs":5738,"stepIntervals":{"direct_searches":45,"post_views":45,"searches":45}},"data":{"results":[{"queryName":"direct_searches","columns":[{"name":"__result_0","queryName":"direct_searches","aggregationIndex":0,"meta":{},"columnType":"aggregation"}],"data":[[12]]},{"queryName":"post_views","columns":[{"name":"__result_0","queryName":"post_views","aggregationIndex":0,"meta":{},"columnType":"aggregation"}],"data":[[161]]},{"queryName":"searches","columns":[{"name":"__result_0","queryName":"searches","aggregationIndex":0,"meta":{},"columnType":"aggregation"},{"name":"__result_1","queryName":"searches","aggregationIndex":1,"meta":{},"columnType":"aggregation"}],"data":[[13,126]]}]}}}'
  recorded_at: Mon, 11 May 2026 05:45:01 GMT
recorded_with: VCR 6.4.0
