### DISCORD CONFIGURATION ###

# DISCORD_CLIENT_ID=efgh                    # the bot's discord client id
# DISCORD_TOKEN=abcdefgh                    # the bot's discord token, found at https://discord.com/developers/applications/<id>/bot
# DISCORD_REPORT_CHANNEL_ID=1234            # the channel where reports submitted by users via /report will be posted (optional)
# DISCORD_SOCKPUPPET_CHANNEL_ID=1234        # the channel where sockpuppet accounts will be posted (optional)

### DANBOORU CONFIGURATION ###

# BOORU_URL=https://danbooru.donmai.us  # the danbooru instance to use
# BOORU_DOMAINS="danbooru.donmai.us"    # space-separated list of hostnames Fumimi will respond to URL links for (default: host of BOORU_URL)

# BOORU_USER=fumimi                     # the danbooru username of the bot
# BOORU_API_KEY=123456789abcdef         # the danbooru api key of the bot, which can be generated at https://danbooru.donmai.us/users/<bot_user_id>/api_keys

# BOORU_MOD_USER=fumimi                 # the danbooru username of a mod account to use for accessing mod-only endpoints
# BOORU_MOD_API_KEY=123456789abcdef     # the danbooru api key of the mod account. required permissions: moderation_reports:index, user_events:index

# SIGNOZ_URL=https://signoz.donmai.us   # the signoz instance to use for analytics reports (default: none)
# SIGNOZ_API_KEY=                       # api key to a signoz instance for analytics reports

### BOT CONFIGURATION ###

# APP_ENV=development                       # "development" enables debugging and hot reloading of code; "production" disables it. Defaults to development.

# FUMIMI_LOG_LEVEL=info                     # log level: debug, info, warn, error, fatal (default: info).
# FUMIMI_CENSORED_TAGS="1girl solo"         # the tags that will force the image to be blurred no matter the rating

# FUMIMI_WEBSERVER_HOST=localhost           # The address to bind the webserver to (default: 0.0.0.0). Set to "" to disable the webserver.
# FUMIMI_WEBSERVER_PORT=3000                # The port to bind the webserver to (default: 3000).


### TEST CONFIGURATION ###

# DEBUG=true                                # Enable debug mode, which disables parallel tests to make debugging easier.
# VCR_RECORD_MODE=all                       # Set to "all" when running tests to re-record all HTTP requests.