### DISCORD CONFIGURATION ###

# DISCORD_SERVER_ID=abcd                    # your discord server id
# DISCORD_CLIENT_ID=efgh                    # the bot's discord client id
# DISCORD_TOKEN=abcdefgh                    # the bot's discord token, found at https://discord.com/developers/applications/<id>/bot

### DANBOORU CONFIGURATION ###

# BOORU_URL=https://danbooru.donmai.us  # the danbooru instance to use

# BOORU_USER=fumimi                     # the danbooru username of the bot
# BOORU_API_KEY=123456789abcdef         # the danbooru api key of the bot, which can be generated at https://danbooru.donmai.us/users/<bot_user_id>/api_keys

# Configure these to enable Fumimi to fetch and repost user-submitted reports from danbooru to the report channel:
# BOORU_REPORTS_API_KEY=123456789abcdef # an api key with permission moderation_reports:index (can be the same one as above)
# BOORU_REPORTS_USER=fumimi             # the account for the api key above

# SIGNOZ_API_KEY=                       # api key to a signoz instance for analytics reports

### BOT CONFIGURATION ###

# FUMIMI_CENSORED_TAGS="1girl solo"         # the tags that will force the image to be blurred no matter the rating
# DISCORD_REPORT_CHANNEL_NAME=channel-name  # the channel where reports submitted by users via /report will be posted

# FUMIMI_WEBSERVER_HOST=localhost           # The address to bind the webserver to (default: 0.0.0.0). Set to "" to disable the webserver.
# FUMIMI_WEBSERVER_PORT=3000                # The port to bind the webserver to (default: 3000).