[Unit]
Description=Fumimi Discord bot - Feed updater

[Service]
Type=simple

WorkingDirectory=%h/src/fumimi-discord
ExecStart=/usr/bin/env %h/.rbenv/shims/bundle exec bin/fumimi --feed
StandardOutput=journal
Restart=always
RestartSec=1
